@page "/"
@using System.Xml
@using System.ServiceModel.Syndication
@using Task2.Components
@inherits FeedModel

<PageTitle>Index</PageTitle>

<h1>Feed</h1>
    <div class="container">
        <div class="text-left my-1">
            <ul class="list-group">
            @foreach(var item in Feed.Items)
                {
                    <li class="list-group-item">
                        <h5><a href="@item.Links[0].Uri.ToString()">@item.Title.Text</a></h5>
                        <p>Publish date: @item.PublishDate.DateTime.ToString("dd-MM-yyyy hh:mm")</p>
                        <p>Description: @item.Summary.Text</p>
                    </li> 
                }
            </ul> 
        </div>            
    </div>  

